:root {
}

* {
    box-sizing: border-box;
    margin: 0;
}

::-webkit-scrollbar {
    visibility: hidden;
}

body {
    background-color:ghostwhite;

}

.header {
    height: 30px;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100vw;
    opacity: 90%;
    background-color: ghostwhite;
    box-shadow: 1px 0 10px gray;
}

.navbar {
    display: flex;
    flex-direction: row;
}

#logo-container {
    display: flex;
    justify-content:left;
    text-align: left;
    width: 33vw;

}

.btn-nav-index {
    background-color: transparent;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;

}

#logo {
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
}
.navbar-list {
    margin-top: 3px;
    cursor: pointer;
    width: 33vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none none;
    gap: 10%;
    font-size: 18px;
    transition: 0.5s;
    font-family: "Franklin Gothic Medium" ;
    font-weight: lighter;
}
.hero {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    object-fit: cover;
    width: 100%;
}













@media (max-width:700px) and (orientation: portrait){
    .navbar {
        flex-direction: column;

    }
    .header {
        max-height: 4%;
        justify-content: center;
        opacity: 70%;
    }
    .section {
        margin-top: 20%;
    }

    .navbar-list {
        visibility: hidden;
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }

    .logo-container-class {
        text-align: center;
        justify-content: center;
        width: 70%;
        margin-left: 18%;
    }


}

@media (max-width:700px) {
    .header {
        height: 10%;

    }
    .logo-container-class {
        margin-top: 0;
        padding-top: 0;
    }
}

.btn-nav-index:hover {
    background-color: #f6f6fd;

}

.btn-nav-index:active {
    background-color: #dfdfe5;
}




